.debug{
    border: 1px solid red;
}

/* HEADER */
header{
    height: 70px;
}
.box-logo{
    max-width: 50px;
    max-height: 50px;
}
.zz-search, .zz-search-icon{
    background-color: #e5e5e5;
}

/* WRAPPER */
.wrapper{
    margin-top: 70px;
    height: calc(100vh - 70px);
    overflow: hidden;
}

/* SIDEBAR */
#sidebar{
    height: 100%;
    width: 150px;
    flex-shrink: 0;
    background-color: #051e34;
    background-image: url("../img/sidebar-bg.png");
}

/* MAIN */
main{
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

/* ASIDE */
.zz-btn{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 15px;
}
.action-btn{
    text-decoration: none;
    color: white;
    background-color: none;
    border: 1px solid grey;
    border-radius: 5px;
}

/* M-CONTENT */
.class-circle{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f26551;
}
.zz-vis{
    visibility: hidden;
}
.card-body ul{
    border: 1px solid lightgray;
    border-radius: 5px;
}

@media screen and (max-width: 992px){
    #sidebar{
        width: 75px;
    }
    .aside .row{
        flex-direction: column;
    }
}

@media screen and (min-width: 768px){
    .zz-col{
        order: 2;
        justify-content: center;
    }
    .zz-vis{
        visibility: visible;
    }
}
