.debug{
    border: 1px solid red;
}
header{
    height: 70px;
}
.box-logo{
    max-width: 50px;
    max-height: 50px;
}
.zz-search, .zz-search-icon{
    background-color: #e5e5e5;
}

.wrapper{
    margin-top: 70px;
    height: calc(100vh - 70px);
    overflow: hidden;
}

#sidebar{
    height: 100%;
    width: 150px;
    flex-shrink: 0;
    background-color: #051e34;
    background-image: url("../img/sidebar-bg.png");
}

main{
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

@media screen and (max-width: 768px){
    #sidebar{
        width: 75px;
    }
}